.acdeac {
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.acdeac h1 {
  font-size: 3rem;
  /* margin-bottom: 2rem; */
}
.acdeac p {
  color: #8a8a8a;
}
.searchCUG {
  margin-top: 2rem;
}
.searchCUG label {
  color: #d03a49;
  font-weight: 500;
}
#searchCUGno {
  height: 3rem;
  max-width: 30rem;
  border: 2px solid #d03a49;
  border-radius: 8px;
}
.searchCont {
  margin-bottom: 1rem;
}
.empDetails {
  margin: 2rem;
  padding: 1rem 0;
}
.empDetails h4 {
  color: #8a8a8a;
  font-weight: 400;
}
.AcDeacbtn {
  display: flex;
  gap: 2rem;
}
.AcDeacbtn button {
  font-size: 1.2rem;
  font-weight: 500;
}
