.allotmentHistory {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.allotmentHistory h1 {
  font-size: 3rem;
}
.historyTable {
  margin-top: 1rem;
}
