@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
}
/* .active {
  background-color: #d03a49;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
} */
.active {
  background-color: #d03a49;
  border-radius: 0.7rem;
  padding: 1rem 1.5rem;
}
